@model IEnumerable<MyClass.Model.Product>

<div class="row">
   
    <div class="col">
      
        <div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>
            @foreach (var product in Model)
            {
                <!-- Product 1 -->

                <div class="product-item women">
                    <div class="product discount product_filter">
                        <div class="product_image">
                            <a href="~/@product.Slug">
                                <img src="~/Public/tem/images/product_1.png" alt="">
                            </a>
                            
                        </div>
                        <div class="favorite favorite_left"></div>
                        <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
                        <div class="product_info">
                            <h6 class="product_name"><a href="~/@product.Slug">@product.Name</a></h6>
                            <div class="product_price">@product.PriceBuy<span>$590.00</span></div>
                        </div>
                    </div>
                    <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
                </div>
            }


            </div>
       
        </div>

    </div>
 